src/main/resources/schema/mashup/visual-mashup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by End User (free.org) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" elementFormDefault="qualified" attributeFormDefault="unqualified" jaxb:version="2.0">
	<!--Visual Mashup 가젯 컨테이너의 페이지 구성 정보-->
	<xs:annotation>
		<xs:appinfo>
			<jaxb:globalBindings generateElementProperty="false">
				<jaxb:javaType name="java.util.Date" xmlType="xs:dateTime" parseMethod="org.uengine.visualmashup.common.util.DateUtil.parseXmlDateTime" printMethod="org.uengine.visualmashup.common.util.DateUtil.printXmlDateTime"/>
			</jaxb:globalBindings>
		</xs:appinfo>
		<xs:documentation>Jaxb Binding Info(Don't Delete)</xs:documentation>
	</xs:annotation>
	<xs:element name="UIPage">
		<xs:annotation>
			<xs:documentation>UI Page Info</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="layout" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="pipeline" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute name="title" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>페이지명</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="layoutXType" use="required">
				<xs:annotation>
					<xs:documentation>레이아웃유형(llayout_1_2_1_columns, layout_1_2_columns_1, layout_1_2_columns_2,
                    layout_1_column, layout_2_2_columns, layout_2_columns_1, layout_2_columns_2, layout_2_columns_3,
                    layout_3_columns)
                </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="layout_1_2_1_columns"/>
						<xs:enumeration value="layout_1_2_columns_1"/>
						<xs:enumeration value="layout_1_2_columns_2"/>
						<xs:enumeration value="layout_1_column"/>
						<xs:enumeration value="layout_2_2_columns"/>
						<xs:enumeration value="layout_2_columns_1"/>
						<xs:enumeration value="layout_2_columns_2"/>
						<xs:enumeration value="layout_2_columns_3"/>
						<xs:enumeration value="layout_3_columns"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>설명</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="layout">
		<xs:annotation>
			<xs:documentation>레이아웃구분 패널</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="portlet" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pipeline">
		<xs:annotation>
			<xs:documentation>pubsub-2 파이프라인</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="wire" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="wire">
		<xs:annotation>
			<xs:documentation>연결정보</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="from" type="TerminalType">
					<xs:annotation>
						<xs:documentation>pubsub-2 Publish 정보</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="to" type="TerminalType">
					<xs:annotation>
						<xs:documentation>pubsub-2 Subscribe 정보</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="transformer">
					<xs:annotation>
						<xs:documentation>트랜스포머</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="type">
								<xs:annotation>
									<xs:documentation>유형(string, number, custom ..)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="string"/>
										<xs:enumeration value="math"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="operator" type="xs:string">
								<xs:annotation>
									<xs:documentation>함수명(attach, prefix, suffix..)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="param" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>파라미터</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="name" type="xs:string" use="required">
												<xs:annotation>
													<xs:documentation>파라미터명</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="portlet">
		<xs:annotation>
			<xs:documentation>포틀릿</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="initConfig" type="xs:string">
						<xs:annotation>
							<xs:documentation>포틀릿생성 초기 Config(JSON포맷)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="url" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>포틀릿URL(type이 gadget 인 경우는 XML Spec URL)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="html" type="xs:string">
						<xs:annotation>
							<xs:documentation>HTML문자열</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
				<xs:element name="userPref" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>가젯 사용자설정정보</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="name" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="position" minOccurs="0">
					<xs:annotation>
						<xs:documentation>가젯 랜더링위치</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="x" type="xs:int" use="required"/>
						<xs:attribute name="y" type="xs:int" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="xtype" use="required">
				<xs:annotation>
					<xs:documentation>유형(portlet, gadget, transformer)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="portlet"/>
						<xs:enumeration value="gadget"/>
						<xs:enumeration value="transformer"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="TerminalType">
		<xs:annotation>
			<xs:documentation>Wire Terminal Type</xs:documentation>
		</xs:annotation>
		<xs:attribute name="gadgetId" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>가젯ID</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="topicName" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Topic 파라미터명</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<!--기본 타입 정의-->
	<xs:element name="_Entity" type="_Entity" abstract="true">
		<xs:annotation>
			<xs:documentation>Abstract Entity Element</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="_Entity" abstract="true">
		<xs:annotation>
			<xs:documentation>Abstract Entity Type</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:element name="condition">
		<xs:annotation>
			<xs:documentation>Search Condition Element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="fieldName" type="xs:string" use="required"/>
					<xs:attribute name="fieldType" type="FieldTypeEnum" default="String"/>
					<xs:attribute name="operator" type="OperatorEnum" default="Equal"/>
					<xs:attribute name="delimiter" default=","/>
					<xs:attribute name="dateFormat" type="xs:string" default="yyyy-MM-dd HH:mm:ss"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="FieldTypeEnum">
		<xs:annotation>
			<xs:documentation>Field Type Enumerations</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="String"/>
			<xs:enumeration value="Date"/>
			<xs:enumeration value="Int"/>
			<xs:enumeration value="Long"/>
			<xs:enumeration value="Float"/>
			<xs:enumeration value="Boolean"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OperatorEnum">
		<xs:annotation>
			<xs:documentation>Operator Type Enumerations</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Between"/>
			<xs:enumeration value="Equal"/>
			<xs:enumeration value="GreaterThan"/>
			<xs:enumeration value="GreaterThanOrEqual"/>
			<xs:enumeration value="LessThan"/>
			<xs:enumeration value="LessThanOrEqual"/>
			<xs:enumeration value="Like"/>
			<xs:enumeration value="NotEqual"/>
			<xs:enumeration value="IsNull"/>
			<xs:enumeration value="IsNotNull"/>
			<xs:enumeration value="In"/>
			<xs:enumeration value="Custom"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ExceptionReport">
		<xs:annotation>
			<xs:documentation>Report message returned to the client that requested any operation when the server detects
                an error while processing that operation request.
            </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element name="message" type="xs:string" minOccurs="0"/>
				<xs:element name="stackTrace" type="xs:string" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="code" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>A code representing the type of this exception, which shall be selected from a set
                        of exceptionCode values specified for the specific service operation and server.
                    </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="locator" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>When included, this locator shall indicate to the client where an exception was
                        encountered in servicing the client's operation request. This locator should be included
                        whenever meaningful information can be provided by the server.
                    </xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!--REST 요청 스키마 정의-->
	<xs:element name="CreateRequest">
		<xs:annotation>
			<xs:documentation>Request to Create Data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_Entity" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateResponse">
		<xs:annotation>
			<xs:documentation>Response of Create Data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="_Entity" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="isSuccess" type="xs:boolean" default="true"/>
			<xs:attribute name="message" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpdateRequest">
		<xs:annotation>
			<xs:documentation>Request to Update Data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_Entity" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UpdateResponse">
		<xs:annotation>
			<xs:documentation>Response of Update Data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="_Entity" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="isSuccess" type="xs:boolean" default="true"/>
			<xs:attribute name="message" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ViewRequest">
		<xs:annotation>
			<xs:documentation>Request to View Data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ViewResponse">
		<xs:annotation>
			<xs:documentation>Response of View Data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="_Entity" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="isSuccess" type="xs:boolean" default="true"/>
			<xs:attribute name="message" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeleteRequest">
		<xs:annotation>
			<xs:documentation>Request to Delete Data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeleteResponse">
		<xs:annotation>
			<xs:documentation>Response of Delete Data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="isSuccess" type="xs:boolean" default="true"/>
			<xs:attribute name="message" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SearchRequest">
		<xs:annotation>
			<xs:documentation>Request to Search Data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="condition" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="offset" type="xs:int" default="0"/>
			<xs:attribute name="size" type="xs:int" default="20"/>
			<xs:attribute name="orderBy" type="xs:string"/>
			<xs:attribute name="isTotalCntOnly" type="xs:boolean" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SearchResponse">
		<xs:annotation>
			<xs:documentation>Response of Search Data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="_Entity" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="isSuccess" type="xs:boolean" default="true"/>
			<xs:attribute name="totalCnt" type="xs:int" default="0"/>
			<xs:attribute name="message"/>
		</xs:complexType>
	</xs:element>
	<!--DB Table 스키마 정의-->
	<xs:element name="vm_gadgets" type="vm_gadgets" substitutionGroup="_Entity">
		<xs:annotation>
			<xs:documentation>vm_gadgets model element</xs:documentation>
		</xs:annotation>
		<xs:key name="vm_gadgets_PrimaryKey_1">
			<xs:selector xpath="."/>
			<xs:field xpath="seq_no"/>
		</xs:key>
	</xs:element>
	<xs:complexType name="vm_gadgets">
		<xs:annotation>
			<xs:documentation>vm_gadgets model Type</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="_Entity">
				<xs:sequence>
					<xs:element name="seq_no" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:int">
								<xs:minInclusive value="-2147483648"/>
								<xs:maxInclusive value="2147483647"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="title" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="100"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="title_url" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="600"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="description" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="600"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="author" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="100"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="author_email" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="100"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="screenshot" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="300"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="thumbnail" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="300"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="type" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="1"/>
								<xs:minLength value="1"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="path" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="600"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="url" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="600"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="xml_contents" nillable="true" minOccurs="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="2147483647"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
